
@{
    ViewBag.Title = "Index";
}
@{
    int EmpID = 0;
    if (Request.QueryString["EmpID"] != null)
    {
        EmpID = Convert.ToInt32(Request.QueryString["EmpID"]);
    }
}

<section class="py-5">
    <div class="row">

        <div class="col-lg-12">
            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <div class="col-sm-6">
                            <h6 class="text-uppercase mb-0">Employees Documents</h6>
                        </div>
                        <div class="col-sm-6">
                            <button type="button" onclick="LoadEmployeesDocsForm()" title="Add Employee Documents" class="btn btn-outline-primary float-right">
                                <span class="fa fa-plus"></span>
                            </button>
                            <div id="frmEmployeesDocs"></div>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div id="tblEmployeesDocs"></div>
                </div>
            </div>
        </div>
    </div>
</section>

<script>
    $(document).ready(function () {
        LoadEmployeesDocs();
    })
    function LoadEmployeesDocs() {
        var empId = @EmpID;
        $.ajax({
            type: 'GET',
            url: '/EmployeeDocuments/GetEmployeesDocs',
            data: {
                EmpID:empId
            },
            success: function (res) {
                $('#tblEmployeesDocs').empty().html(res);
            }
        })
    }
    function LoadEmployeesDocsForm() {
        var empId = @EmpID;
        $.ajax({
            type: 'GET',
            data: {
                EmpID:empId
            },
            url: '/EmployeeDocuments/AddEmployeesDocs',
            success: function (res) {
                $('#frmEmployeesDocs').empty().html(res);
            }
        })
    }
</script>



